body {
  display: flex;
}

.textCenter {
  text-align: center;
}

.file_input_div {
  margin: 0 auto;
  width: 250px;
  height: 40px;
}

.submit_input_div {
  margin: 0 auto;
  width: 100px;
}

.file_input {
  float: left;
}

#file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
}

.none {
  display: none;
}

#loader {
  user-select: none;
}

.card {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  top: 50%;
  margin-top: -175px;
  z-index: 333;
  background-color: white;
  /* margin: 0 auto; */
  width: 250px;
  height: 300px;
  text-align: center;
  border-radius: 25px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 332;
}
fieldset[disabled] .mdl-textfield .mdl-textfield__input, .mdl-textfield.is-disabled .mdl-textfield__input {
  color: inherit!important;
}

#reset {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#reset p {
  color: grey;
  /* margin-bottom: -3px; */
  margin-bottom: -77px;
}

#report {
  margin: 0 auto;
  width: 400px;
  height: 40px;
}

.panel {
  margin: 0 auto;
  width: 400px;
  height: 40px;
  text-align: justify;
  text-justify: inter-word;
}

.danger {
  color: #dc3545;
}
.info {
  color: #007bff;
}
.warning {
  color: #ffc107;
}
.hint {
  color: #6c757d;
}

.bugStatus {
  user-select: none;
}

.bugWorkedOn {
  background: #007bff;
  color: white;
}
.bugWorkedOn:active {
  background: #007bff;
  color: white;
}

.bugResolved {
  background: #28a745;
  color: white;
}
.bugResolved:active {
  background: #28a745;
  color: white;
}

.bugUnresolvable {
  background: #dc3545;
  color: white;
}
.bugUnresolvable:active {
  background: #dc3545;
  color: white;
}

.bugKnown {
  background: #ffc107;
}
.bugKnown:active {
  background: #ffc107;
}

.exampleTable {
  margin: auto;
  width: 317px;
  text-align: center;
}
